.App {
  text-align: center;
  background-color: #282c34;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-family: Avenir;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.events-row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.App-content {
  flex-direction: row;
  font-size: 1rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
